@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/webfonts/fa-brands-400.ttf);
*{
    margin:0;
   padding:0;
   text-decoration: none;
   box-sizing: border-box;
}
/*body{
    background-image:url(wall.jpg);
    background-color: beige;
    background-position: center;
    background-size: cover;
    
    width: 0;
    height: 0;
}*/
.navbar{
    position: fixed;
    background-color: #333; /* Set the background color to dark gray */
    width: 100%;
    padding: 30px 0;
    top: 10px;
    z-index:100;
    line-height: 20px;
    transition: 0.06s;
    border-bottom:1.5px solid white;
}
.inner-width{
    max-width: 1300px;
    margin:auto;
    padding: 0 60px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    font-size: 40px;
    font-weight: 100;
    font-family: "Great Vibes", sans-serif;
    color:white;
    cursor: pointer;
    line-height:20px;
    border-bottom:3px solid yellow;
}
.navbar-menu a{
    font-size: 13px;
    font-weight: 500;
    background-color: #333131;
    font-family: "raleway",sans-serif;
    color: white;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-left: 35px;
    display:inline-block;
}
.navbar-menu a::after{
    content:'';
    display: block;
    width:0;
    height: 1.8px;
    background-color:rgb(248, 175, 30);
    transition: width.3s;
}
.navbar-menu a:hover::after{
    width:100%;
}
#home{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #222;
    background-color:hsl(60, 2%, 34%);
    padding:0 100px;
}
.content{
    display:flex;
    flex-direction: column;
    padding-top: 170px;
}
.title h1{
    color:white;
    font-size: 55px;
    font-family: 'segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom:40px;
}
.image{
    background-image: url(cup.jpg);
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 250px;
}
.content2{
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    padding-left:20px;
}
.content2   .image {
    background-image: url(cake.jpg);
   
}
.title p{
    color:white;
    margin-bottom:0;
    margin-top: 33px;
    font: size 14px;
    font-family: 'Raleway' ,sans-serif;
    font-weight:500;
    letter-spacing:1px;
    line-height: 25px; 
}
.content2  button {
    padding: 14px 27px;
    margin-top: 30px;
    background-color:orange;
    border: none;
    outline: none;
    color:#fff;
    font-size:15px;
    font-weight:700;
    letter-spacing:2px;
    font-family: 'Raleway',sans-serif;
    cursor:pointer;
    text-transform: uppercase;
    transition: 0.3s;
}
.content2 button:hover{
    transform:scale(1);
    color:rgba(255, 200, 0, 0.791);
    transition: all .2s ease-in-out;
}
.social-container {
    position:absolute;
    right:55px;
    bottom:30%;
}
.social-icons{
    list-style: none;
    position: relative;
}
.social-icons li{
    margin: 35px 0;
    color: #222;
    font-size:20px;
}
.social-icons li a:hover i{
    transform:scale(1.5);
    color:rgb(0, 234, 255);
    transition: all .2s ease-in-out;
}




.heading{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align:center;
    margin:20px auto;

}
.heading h1{
    font-size: 50px;
    color:#000;
    margin-bottom:25px;
    position: relative;
}
.heading h1::after{
    content:"";
    position:absolute;
    width:100%;
    height:4px;
    display:block;
    margin:0 auto;
    background-color:#4caf;
}
.heading p{
    font-size:18px;
    color:#363736;
    margin-bottom:35px;
}
container{
    width:90%;
    margin:0 auto;
    padding:10px 20px;
}
.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.about-image{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width:100%;
    height:auto;
    display:block;
    transition:0.5s;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex:1;
}
.about-content h3{
    text-align: center;
    font-family: "Great Vibes", sans-serif;
    font-size:23px;
    margin-bottom:15px;
    color:#333;
}
.about-content p{
    font-size:18px;
    line-height:1.5;
    color:#666;
}
.about-content .read-more{
    display:inline-block;
    padding:10px 20px;
    background-color:rgb(23, 171, 235);
    color:#ffffff;
    font-size: 19px;
    text-decoration:none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s;;
}
.about-content .read-more:hover{
    background-color:#f0dc25;
}
.background{
    background-color: #f0dc25;
}










.cake{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:blue;
    font-size: 14px;
    font-weight: 300;
    line-height:22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display:flex;
    flex:row wrap;
    justify-content: center;
    
}
.col{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius:10px;
    
    margin-bottom:5%;
    padding:20px ;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-family: "raleway",sans-serif;
    font-weight:600;
    margin:10px 0;
}
.col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}








